{% extends 'front_layout.twig' %}



    {% block stylesheets %}
        <link rel="stylesheet" href="{{ SESSION['site']['urlthemefront'] }}css/compiled/reset.css" type="text/css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ SESSION['site']['urlthemefront'] }}css/lib/animate.css" media="screen, projection" />

    {% endblock %}


{% block bodyclass %}
    class=""
{% endblock %}

{% block navclass %}
    class="navbar navbar-inverse navbar-static-top"
{% endblock %}


{% block content %}


    <div id="reset_pwd" class="reset_page">
        <div class="container">
            <div class="row">
                <div class="col-md-12 box_wrapper">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="head">
                                <h4>Enter your email address below to receive instructions on how to reset your password.</h4>
                                <div class="line"></div>
                            </div>
                            <div class="form">
                                <form>
                                    <input type="text" placeholder="Email address" class="control-form" />
                                    <input type="submit" value="Reset password"/>
                                </form>
                            </div>
                        </div>
                    </div>
                    <p class="already">Know your password? <a href="{{ SESSION['baseurl'] }}index/user/signin"> Sign in</a></p>
                </div>
            </div>
        </div>
    </div>



    {% block javascript %}

    {% endblock %}


{% endblock %}
